body {
    font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
    text-align: center;
    background-color: #fffef7;
    margin: 0;
    padding: 0;
}

/* コンテンツを中央に配置 */
.container {
    margin-top: 50px;
}
#header{
	background-image: url(おみくじ３_01.png);
    height: 100px;
	width: 1280px;
}
.logo{
	height: 76px;
	width: 136px;
    margin-left: auto;
    margin-right: auto;
}
#main{
    background-image:url(おみくじ４_02.gif);
    width: 1280px;
    height: 924px;
}

/* 結果画像のスタイル */
#omikuji img {
    width: 700px;   /* 画像の大きさを調整 */
    height: auto;
    margin-top: -130px;
    border: 3px solid #ccc;
    border-radius: 10px;
}

/* ボタンのスタイル */
button {
    width: 300px;
    height: 80px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    font-family: "ヒラギノ明朝 ProN W6";
    font-size: 20px; 
    color: #FFF;
    background: #75e3d8;
    border-radius: 3px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    box-shadow: none;
    border: none;
    outline: none
}
button:hover {
    background: #313131;
    color: #FFF;
}
h1{
    font-size: 45px;
    color:#959535;
    font-family: "ヒラギノ明朝 ProN W6"; 
    text-align: center;
    line-height: 480px;
}